.overaly__thanksPurchase {
  position: fixed;
  width: 0;
  height: 0;

  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: height 0.4s, width 0.4s;
  
  background-color: #411016a6;
  z-index: 99999;
  color: $c-main2;
  @include flexContainerConfig(column, nowrap, center, center);
  &__message__containter {
    border-radius: calc(100vw * (5 / 1366));
    padding: calc(100vw * (50/ 1366));
    background-color: $c-neut8;
    @include flexContainerConfig(column, nowrap, center, center);
    &__heart {
      width: calc(100vw * (120 / 1366));
      height: calc(100vw * (120 / 1366));
      margin-bottom: calc(100vw * (20 / 1366));
      animation: heartBeat 1s ease-in-out 0.2s infinite;
    }
    &__textThanks {
      @include typoSet($fw-medium, $fsz-title, $flh-prices1, $ft-main);
      margin-bottom: calc(100vw * (20 / 1366));
    }
    &__textRedirect {
      @include typoSet($fw-medium, $fsz-prices2, $flh-prices1, $ft-main);
    }
    a:hover {
      cursor: pointer;
      color: $c-main1;
    }
  }
}
.purchaseSummary__header {
  @include flexContainerConfig(row, nowrap, space-between, center);
  position: unset;
  background-color: $c-sec2;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
  a img {
    margin-top: calc(100vw * (18 / 1366));
    margin-bottom: calc(100vw * (18 / 1366));
    margin-left: calc(100vw * (139 / 1366));
    width: calc(100vw * (107 / 1366));
    height: calc(100vw * (54 / 1366));
    &:hover {
      cursor: pointer;
    }
  }
  &__help {
    @include flexContainerConfig(column, nowrap, flex-end, center);
    margin-top: calc(100vw * (22 / 1366));
    margin-right: calc(100vw * (102 / 1366));
    margin-bottom: calc(100vw * (25 / 1366));
    color: $c-main2;
    h5{
      position: relative;
      margin-top: calc(100vw * (6 / 1366));
      &:hover {
        cursor: pointer;
      }
      color: $c-sec1 ;
      &::before {
        position: absolute;
        color: $c-sec1 ;
        left: calc(-100vw * (25 / 1366));
        bottom: calc(-100vw * (2 / 1366));
        content: " ";
        background-image: url(../../assets/svg/redes_sociales_SVGs/wa2-hover.svg);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        width: calc(100vw * (22 / 1366));
        height: calc(100vw * (22 / 1366));
      }
    }
  }
}
.purchaseSummary__main {
  top: 0;
  height: calc(100vw * (730 / 1366));
  min-height: fit-content;
  margin-bottom: calc(100vw * (45 / 1366));
  &__homeLink{
    position: absolute;
    top: calc(100vw * (39 / 1366));
    left: calc(100vw * (152 / 1366));
    @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
    color: $c-neut1;
    &::before {
      position: absolute;
      left: calc(-100vw * (22 / 1366));
      bottom: calc(100vw * (1 / 1366));
      content: " ";
      background-image: url(../../assets/svg/controles_SVGs/flechaReturn-init.svg);
      background-size: contain;
      background-position: left;
      background-repeat: no-repeat;
      width: calc(100vw * (22 / 1366));
      height: calc(100vw * (13 / 1366));
      &:hover {
        cursor: alias;
      }
    }
    &:hover {
      color: $c-main1;
      cursor: pointer;
    }
    &:hover::before {
      background-image: url(../../assets/svg/controles_SVGs/flechaReturn-hover.svg);
      cursor: pointer;
    }
  }
  &__orderCtn{
    position: relative;
    top: calc(100vw * (76 / 1366));
    margin-left: calc(100vw * (113 / 1366));
    width: calc(100vw * (826 / 1366));
    &__title{
      @include typoSet($fw-medium, $fsz-title, $flh-title, $ft-main);
      margin-left: calc(100vw * (25 / 1366));
      margin-bottom: calc(100vw * ( 36 / 1366));
    }
    &__table{
      position: relative;
      height: calc(100vw * (568 / 1366));
      overflow: scroll;
      @include flexContainerConfig(column, nowrap, flex-start, flex-start);
      border: 1px solid $c-neut9;
      border-radius: calc(100vw * (20 / 1366));
      background-color: $c-neut7;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      &__noItemsInCart {
        display: none;
        @include typoSet($fw-medium, $fsz-subtitle, $flh-title, $ft-main);
        @include flexContainerConfig(column, nowrap, center, center);
        position: absolute;
        width: 100%;
        top: calc(100vw * (200 / 1366));
        color: $c-main2;
        img {
          width: calc(100vw * (80 / 1366));
          height: calc(100vw * (80 / 1366));
        }
        p:nth-child(2) {
          @include typoSet($fw-medium, $fsz-title, $flh-title, $ft-main);
          margin-left: calc(100vw * (18 / 1366));
        }
        a {
          &:hover {
            color: $c-sec1;
            cursor: pointer;
          }
        }
      }
      &__titles{
        position: sticky;
        top: 0;
        z-index: 10;
        border-top-left-radius: calc(100vw * (20 / 1366));
        border-top-right-radius: calc(100vw * (20 / 1366));
        border-bottom: 1px solid $c-neut4_1 ;
        padding-left: calc(100vw * (23 / 1366));
        padding-right: calc(100vw * (9 / 1366));
        background-color: $c-neut7;
        @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
        height: calc(100vw * (70 / 1366));
        width: calc(100vw * (824 / 1366));
        h4 {
          margin-top: calc(100vw * (29 / 1366));
          margin-bottom: calc(100vw * (14 / 1366));
        }
      }
      &__item {
        border-top: 1px solid $c-neut4_1 ;
        margin-left: calc(100vw * (23 / 1366));
        margin-right: calc(100vw * (9 / 1366));
      }
      &__row{
        &__productCell{
          width: calc(100vw * (363 / 1366));
          h4 {
            margin-left: calc(100vw * (30 / 1366));
          }
          img{
            margin-top: calc(100vw * (25 / 1366));
            margin-bottom: calc(100vw * (8 / 1366));
            width: calc(100vw * (112 / 1366));
            height: calc(100vw * (112 / 1366));
          }
          &__nameCode{
            margin-top: calc(100vw * (20 / 1366));
            @include flexContainerConfig(column, nowrap, center, flex-start);
            h3{
              @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
              margin-bottom: calc(100vw * (14 / 1366));
            }
            p{
              @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
              color: $c-neut4;
            }
          }
        }
        &__priceCell{
          width: calc(100vw * (125 / 1366));
          h4 {
            margin-left: calc(100vw * (5 / 1366));
          }
          &__value{
            text-decoration: line-through;
            margin-top: calc(100vw * (66 / 1366));
            @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
            color: $c-neut4;
            
          }
        }
        &__quantityCell{
          width: calc(100vw * (143 / 1366));
          h4 {
            margin-left: calc(100vw * (12 / 1366));
          }
          &__mobileTitle {
            display: none;
          }
          .quantityButton {
            margin-top: calc(100vw * (66 / 1366));
            border-radius: 50%;
            width: calc(100vw * (27 / 1366));
            height: calc(100vw * (27 / 1366));
            background-color: $c-neut9_1;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
              cursor: pointer;
              background-color: $c-sec1;
            }
          }
          &__addButton{
            background-image: url(../../assets/svg/controles_SVGs/adicionarCantidad-init.svg);
            &:hover {
              background-image: url(../../assets/svg/controles_SVGs/adicionarCantidad-hover.svg);
            }
            &:active {
              background-image: url(../../assets/svg/controles_SVGs/adicionarCantidad-hover.svg);
            }
          }
          &__quantityDisplay{
            margin: 0 calc(100vw * (15 / 1366));
            margin-top: calc(100vw * (72 / 1366));
            @include typoSet($fw-medium, $fsz-body, $flh-prices2, $ft-main);
          }
          &__substractButton{
            background-image: url(../../assets/svg/controles_SVGs/restarCantidad-init.svg);
            &:hover {
              background-image: url(../../assets/svg/controles_SVGs/restarCantidad-hover.svg);
            }
            &:active {
              background-image: url(../../assets/svg/controles_SVGs/restarCantidad-hover.svg);
            }
          }
        }
        &__subtotalCell{
          h4 {
            margin-left: calc(100vw * (12 / 1366));
          }
          width: calc(100vw * (161 / 1366));
          &__values{
            margin-top: calc(100vw * (20 / 1366));
            @include flexContainerConfig(column, nowrap, center, center);
            &__before{
              text-decoration: line-through;
              margin-bottom: calc(100vw * (7 / 1366));
              @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
              color: $c-neut4;
            }
            &__after{
              @include typoSet($fw-medium, $fsz-prices1, $flh-prices2, $ft-main);
            }
          }
          &__deleteButton{
            margin-top: calc(100vw * (66 / 1366));
            margin-left: calc(100vw * (40 / 1366));
            border-radius: 50%;
            width: calc(100vw * (27 / 1366));
            height: calc(100vw * (27 / 1366));
            background-image: url(../../assets/svg/controles_SVGs/deleteProducto-init.svg);
            background-color: $c-neut9_1;
            background-repeat: no-repeat;
            background-position: center;
            &:hover {
              background-image: url(../../assets/svg/controles_SVGs/deleteProducto-hover.svg);
              cursor: pointer;
              background-color: $c-sec1;
            }
            &:active {
              background-image: url(../../assets/svg/controles_SVGs/deleteProducto-hover.svg);
            }
          }
        }
      }
    }
  }
  &__summary{
    @include flexContainerConfig(column, nowrap, flex-start, center);
    border-radius: calc(100vw * (20 / 1366));
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 calc(100vw * (18 /1366));
    background-color: $c-neut7;
    overflow: hidden;
    position: absolute;
    top: calc(100vw * (142 / 1366));
    right: calc(100vw * (123 / 1366));
    width: calc(100vw * (293 / 1366));
    height: calc(100vw * (568 / 1366));
    h2{
      margin-top: calc(100vw * (18 / 1366));
      margin-bottom: calc(100vw * (25 / 1366));
      @include typoSet($fw-medium, $fsz-subtitle, $flh-subtitle, $ft-main);
    }
    &__discountCode{
      width: 100%;
      @include flexContainerConfig(column, nowrap, center, center);
      border-top: 1px solid $c-neut4_1;
      h4{
        @include typoSet($fw-regular, $fsz-footer, $flh-body, $ft-main);
        margin-top: calc(100vw * (8 / 1366));
        color: $c-neut2;
        
      }
      input{
        @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
        text-align: center;
        margin-top: calc(100vw * (7 / 1366));
        margin-bottom: calc(100vw * (6 / 1366));
        border: 1px solid $c-exc1;
        border-radius: calc(100vw * (100 / 1366));
        width: calc(100vw * (257 / 1366));
        height: calc(100vw * (38 / 1366));
        color: $c-exc1;
        &:hover {
          cursor: text;
          border: 2px solid $c-exc1;
          background-color: $c-exc1_1;
        }
        &:focus {
          background-color: $c-exc1_1;
          border: 2px solid $c-exc1;
          outline: none;
        }
        &::placeholder {
          color: $c-exc1;

        }
      }
    }
    &__delivery{
      border-top: 1px solid $c-neut4_1;
      h4{
        position: relative;
        @include typoSet($fw-regular, $fsz-footer, $flh-body, $ft-main);
        margin-top: calc(100vw * (16 / 1366));
        margin-bottom: calc(100vw * (30 / 1366));
        margin-left: calc(100vw * (53 / 1366));
        color: $c-neut3;
        &::before {
          position: absolute;
          color: $c-sec1 ;
          left: calc(-100vw * (40 / 1366));
          bottom: calc(-100vw * (3 / 1366));
          content: " ";
          background-image: url(../../assets/svg/iconos_SVGs/camion_SVGs/camion-init.svg);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          width: calc(100vw * (26 / 1366));
          height: calc(100vw * (20 / 1366));
        }
      }
      &__home{
        @include typoSet($fw-regular, $fsz-footer, $flh-body, $ft-main);
        text-align: center;
        border-radius: calc(100vw * (100 / 1366));
        margin-bottom: calc(100vw * (12 / 1366));
        border: 1px solid $c-neut4;
        width: calc(100vw * (123 / 1366));
        height: calc(100vw * (38 / 1366));
        background-color: $c-neut5;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        &:hover {
          cursor: pointer;
          background-color: $c-neut2;
          color: $c-neut7;
        }
        &:active {
          color: $c-neut7;
          background-color: $c-neut2;
        }
      }
      &__store{
        @include typoSet($fw-regular, $fsz-footer, $flh-body, $ft-main);
        text-align: center;
        border-radius: calc(100vw * (100 / 1366));
        margin-bottom: calc(100vw * (12 / 1366));
        border: 1px solid $c-main2;
        width: calc(100vw * (123 / 1366));
        height: calc(100vw * (38 / 1366));
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        background-color: $c-neut7;
        &:hover {
          cursor: pointer;
          background-color: $c-main2;
          color: $c-neut7;
        }
        &:active {
          background-color: $c-main2 ;
          color: $c-neut7;
        }
      }
    }
    &__calc{
      border-top: 1px solid $c-neut4_1;
      padding-top: calc(100vw * (13 / 1366));
      margin-bottom: calc(100vw * (36 / 1366));
      @include flexContainerConfig(column, nowrap, center, center);
      width: 100%;
      @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
      color: $c-neut2;
      &__subtotalCost{
        width: 100%;
        @include flexContainerConfig(row, nowrap, space-between, center);
        margin-bottom: calc(100vw * (14 / 1366));
      }
      &__shipmentCost{
        width: 100%;
        @include flexContainerConfig(row, nowrap, space-between, center);
        margin-bottom: calc(100vw * (14 / 1366));
      }
      &__discount{
        width: 100%;
        @include flexContainerConfig(row, nowrap, space-between, center);
        margin-bottom: calc(100vw * (14 / 1366));
      }
      &__totalCost{
        width: 100%;
        @include typoSet($fw-medium, $fsz-subtitle, $flh-subtitle, $ft-main);
        @include flexContainerConfig(row, nowrap, space-between, center);
        color: $c-neut1;
      }
    }
    &__purchase{
      @include flexContainerConfig(column, nowrap, flex-start, center);
      &__termsConditions{
        margin-bottom: calc(100vw * (17 / 1366));
        position: relative;
        // width: 100%;
        margin-left: calc(100vw * (25 / 1366));
        @include typoSet($fw-regular, $fsz-footer, $flh-body, $ft-main);
        input{
          position: absolute;
          top: calc(100vw * (0 / 1366));
          left: calc(-100vw * (25 / 1366));
          margin: 0;
          opacity: 0;
          width: calc(100vw * (15 / 1366));
          height: calc(100vw * (15 / 1366));
          z-index: 10;
          &:hover {
            cursor: pointer;
          }
          &:checked ~ .purchaseSummary__main__summary__purchase__termsConditions__checkBox {
            background-color: $c-main2;
            background-image: url(../assets/svg/iconos_SVGs/checked_SVGs/checked-init.svg);
            background-position: center;
            background-repeat: no-repeat;
          }
        }
        &__checkBox {
        border-radius: calc(100vw* (5 / 1366));
        border:1px solid $c-main2;
        position: absolute;
        left: 0;
        top: calc(100vw * (0 / 1366));
        left: calc(-100vw * (25 / 1366));
        width: calc(100vw * (15 / 1366));
        height: calc(100vw * (15 / 1366));
        z-index: 1;
        background-color: $c-neut7;
        }
        label{
          width: calc(100vw * (224 / 1366));
          &:hover {
            cursor: pointer;
          }
        }
      }
      .buttonPurchase{
        text-align: center;
        border: 1px solid $c-sec1;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
        border-radius: calc(100vw * (100 / 1366));
        width: calc(100vw * (257 / 1366));
        height: calc(100vw * (38 / 1366));
        @include typoSet($fw-regular, $fsz-prices2, $flh-prices1, $ft-main);
        transition: all 0.16s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.07);
        }
        &:active {
          background-color: $c-neut2;
          border-color: $c-neut2;
          color: $c-neut7;
        }
      }
      &__startPaymentButton{
        margin-bottom: calc(100vw * (20 / 1366));
        background-color: $c-sec1;
        color: $c-neut7;
        &:hover {
          font-weight: $fw-medium;
          border-width: 2px;
        }
      }
      &__continueShoppingButton{
        @include flexContainerConfig(row, nowrap, center, center);
        border-color: $c-main2;
        background-color: $c-neut7;
        color: $c-main2;
      }
    }
  }
}
.purchaseSummary__footer {
  @include flexContainerConfig(column, nowrap, center, center);
  border-radius: 0;
  position: unset;
  bottom: 0;
  background-color: unset;
  width: 100vw;
  &__companies{
    margin-bottom: calc(100vw * (24 / 1366));
    padding-bottom: calc(100vw * (8 / 1366));
    width: calc(100vw * (1136 / 1366));
    @include flexContainerConfig(row, nowrap, space-around, center);
    @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
    border-bottom:1px solid $c-neut3_2;
    img:nth-child(2){ // Visa
      width: calc(100vw * (40 / 1366));
      height: calc(100vw * (15 / 1366));
    }
    img:nth-child(3) { // American
      width: calc(100vw * (24 / 1366));
      height: calc(100vw * (24 / 1366));
    }
    img:nth-child(4) { // Diners
      width: calc(100vw * (55 / 1366));
      height: calc(100vw * (15 / 1366));
    }
    img:nth-child(5) { // Efecty
      width: calc(100vw * (53 / 1366));
      height: calc(100vw * (20 / 1366));
    }
    img:nth-child(6) { // Codensa
      width: calc(100vw * (40 / 1366));
    }
    img:nth-child(7) { // Davivienda
      width: calc(100vw * (70 / 1366));
    }
    img:nth-child(8) { // PSE
      width: calc(100vw * (45 / 1366));
    }
    img:nth-child(9) { // Encrypt
      width: calc(100vw * (35 / 1366));
      height: calc(100vw * (35 / 1366));
    }
    img:nth-child(10) { // PCI
      width: calc(100vw * (44 / 1366));
      width: calc(100vw * (44 / 1366));
    }
  }
  &__legalOps{
    margin-bottom: calc(100vw * (24 / 1366));
    @include typoSet($fw-regular, $fsz-body, $flh-body, $ft-main);
    &__copyRight{
      @include flexContainerConfig(row, nowrap, space-around, center);
      width: calc(100vw * (940 / 1366));
      p:nth-child(2) {
        display: none;
      }
      img:nth-child(5){
        width: calc(100vw * (81 / 1366));
      }
      img:nth-child(8){
        width: calc(100vw * (48 / 1366));
        height: calc(100vw * (17 / 1366));
      }
      span {
        color: $c-neut3_2;
      }
    }
  }
}
// *****************************************************************************************************
// MEDIA QUERIES
@media screen and (max-width: 460px) {
  .overaly__thanksPurchase {
    @include flexContainerConfig(column, nowrap, center, center);
    &__message__containter {
      border-radius: calc(100vw * (5 / 375));
      padding: calc(100vw * (50/ 375));
      background-color: $c-neut8;
      text-align: center;
      @include flexContainerConfig(column, nowrap, center, center);
      &__heart {
        width: calc(100vw * (120 / 375));
        height: calc(100vw * (120 / 375));
        margin-bottom: calc(100vw * (20 / 375));
        animation: heartBeat 1s ease-in-out 0.2s infinite;
      }
      &__textThanks {
        @include typoSet($fw-medium, $fsz-prices1Mobile, $fsz-prices1Mobile , $ft-main);
        margin-bottom: calc(100vw * (20 / 375));
      }
      &__textRedirect {
        @include typoSet($fw-medium, $fsz-bodyMobile, $fsz-bodyMobile, $ft-main);
      }
      a:hover {
        cursor: pointer;
        color: $c-main1;
      }
    }
  }
  .purchaseSummary__header {
    @include typoSet($fw-medium, $fsz-prices1Mobile, $flh-prices1, $ft-main);
    a img {
      margin-top: calc(100vw * (19 / 375));
      margin-bottom: calc(100vw * (28 / 375));
      margin-left: calc(100vw * (48 / 375));
      width: calc(100vw * (85 / 375));
      height: calc(100vw * (43 / 375));
    }
    &__help {
      height: fit-content;
      margin-top: calc(100vw * (0 / 375));
      margin-right: calc(100vw * (11 / 375));
      margin-bottom: calc(100vw * (0 / 375));
      h5 {
        margin-top: calc(100vw * (20 / 375));
        margin-right: calc(100vw * (8 / 375));
        &::before {
          left: calc(-100vw * (25 / 375));
          bottom: calc(-100vw * (9 / 375));
          width: calc(100vw * (22 / 375));
          height: calc(100vw * (22 / 375));
        }
      }
    }
  }
  .purchaseSummary__main {
    height: unset;
    min-height: min-content;
    margin-bottom: calc(100vw * (0 / 375));
    padding-bottom: calc(100vw * (11 / 375));
    &__homeLink{
      position: absolute;
      top: calc(100vw * (31 / 375));
      left: calc(100vw * (67 / 375));
      @include typoSet($fw-medium, $fsz-prices1Mobile, $flh-prices1, $ft-main);
      &::before {
        left: calc(-100vw * (30 / 375));
        bottom: calc(-100vw * (4 / 375));
        width: calc(100vw * (14 / 375));
        height: calc(100vw * (14 / 375));
      }
    }
    &__orderCtn{
      position: relative;
      top: calc(100vw * (76 / 375));
      margin-right: calc(100vw * (25 / 375));
      margin-bottom: calc(100vw * (40 / 375));
      margin-left: calc(100vw * (25 / 375));
      width: calc(100vw * (325 / 375));
      &__title{
        @include typoSet($fw-medium, $fsz-titleMobile, $flh-title, $ft-main);
        margin-left: calc(100vw * (27 / 375));
        margin-bottom: calc(100vw * (45 / 375));
      }
      &__table{
        min-height: calc(100vw * (325 / 375));
        height: fit-content;
        max-height: 526px;
        width: calc(100vw * (325 / 375));
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
        &__noItemsInCart {
          text-align: center;
          @include typoSet($fw-medium, $fsz-prices1Mobile, $fsz-prices1Mobile, $ft-main);
          top: calc(100vw * (40 / 375));
          img {
            width: calc(100vw * (80 / 375));
            height: calc(100vw * (80 / 375));
          }
          p:nth-child(2) {
            @include typoSet($fw-medium, $fsz-titleMobile, $fsz-titleMobile, $ft-main);
            margin-left: calc(100vw * (18 / 375));
            margin-bottom: calc(100vw * (15 / 375));
          }
          a {
            margin-top: calc(100vw * (15 / 375));
          }
        }
        &__titles{
          display: none;
        }
        &__item {
          border-top: 1px solid $c-neut4_1 ;
          margin-left: calc(100vw * (10 / 375));
          width: calc(100vw * (303 / 375));
        }
        &__row {
          &__productCell{
            position: relative;
            width: 100%;
            height: 100%;
            img{
              margin-top: calc(100vw * (30 / 375));
              margin-bottom: calc(100vw * (30 / 375));
              min-width: calc(100vw * (112 / 375));
              min-height: calc(100vw * (112 / 375));
            }
            &__nameCode{
              // border:1px solid purple;
              height: fit-content;
              margin-top: calc(100vw * (18 / 375));
              @include flexContainerConfig(column, nowrap, flex-start, flex-start);
              width: calc(100vw * (139 / 375));
              h3{
                @include typoSet($fw-medium, $fsz-prices1Mobile, $fsz-subtitleMobile , $ft-main);
                margin-bottom: calc(100vw * (13 / 375));
              }
              p{
                @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-bodyMobile, $ft-main);
              }
            }
          }
          &__priceCell {
            display: none;
          }
          &__quantityCell{
            // border: 1px solid cyan;
            position: relative;
            height: fit-content;
            width: calc(100vw * (200 / 375));
            top: calc(100vw * (96 / 375));
            left: calc(100vw * (-139 / 375));
            @include flexContainerConfig(row, nowrap, space-between, center);
            &__mobileTitle {
              @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-bodyMobile, $ft-main);
              display: block;
            }
            .quantityButton {
              margin-top: calc(100vw * (0 / 1366));
              border-radius: 50%;
              width: calc(100vw * (27 / 375));
              height: calc(100vw * (27 / 375));
              background-color: $c-neut9_1;
              background-repeat: no-repeat;
              background-position: center;
            }
            &__addButton{
              right: 0;
            }
            &__quantityDisplay{
              margin: 0;
              @include typoSet($fw-medium, $fsz-prices2Mobile, $fsz-prices1Mobile, $ft-main);
              margin-right: calc(100vw * (14 / 375));
              margin-left:calc(100vw * (14 / 375));
            }
            &__substractButton{
              margin-left:calc(100vw * (35 / 375));
            }
          }
          &__subtotalCell{
            // border: 1px solid green;
            position: relative;
            top: calc(100vw * (128 / 375));
            left: calc(100vw * (-323 / 375));
            margin-left: calc(100vw * (0 / 375));
            margin-bottom: calc(100vw * (0 / 375));
            width: calc(100vw * (130 / 375));
            width: 130px;
            height: 20px;
            &__values{
              @include flexContainerConfig(row, nowrap, space-between, center);
              margin-top: calc(100vw * (0 / 375));

              &__before{
                margin-bottom: calc(100vw * (0 / 375));
                @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-prices1Mobile, $ft-main);
              }
              &__after{
                margin-left: 10px;
                @include typoSet($fw-medium, $fsz-prices1Mobile, $fsz-prices1Mobile, $ft-main);
              }
            }
            &__deleteButton{
              position: absolute;
              margin: 0;
              bottom: calc(100vw * (95 / 375));
              left: calc(100vw * (158 / 375));
              border-radius: 50%;
              width: calc(100vw * (27 / 375));
              height: calc(100vw * (27 / 375));
            }
          }
        }
      }
    }
    &__summary{
      position: unset;
      border-radius: calc(100vw * (20 / 375));
      padding: 0 calc(100vw * (18 /375));
      margin: 0 auto;
      margin-top: 100px;
      top: calc(100vw * (0 / 375));
      right: calc(100vw * (0 / 375));
      width: calc(100vw * (325 / 375));
      height: calc(100vw * (585 / 375));
      box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.15);
      h2{
        margin-top: calc(100vw * (18 / 375));
        margin-bottom: calc(100vw * (25 / 375));
        @include typoSet($fw-medium, $fsz-subtitleMobile, $fsz-subtitleMobile, $ft-main);
      }
      &__discountCode{
        h4{
          @include typoSet($fw-regular, $fsz-footerMobile, $fsz-bodyMobile , $ft-main);
          margin-top: calc(100vw * (8 / 375));
          
        }
        input{
          @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-bodyMobile , $ft-main);
          margin-top: calc(100vw * (7 / 375));
          margin-bottom: calc(100vw * (6 / 375));
          border-radius: calc(100vw * (100 / 375));
          width: calc(100vw * (257 / 375));
          height: calc(100vw * (38 / 375));
        }
      }
      &__delivery{
        h4{
          @include typoSet($fw-regular, $fsz-footerMobile, $fsz-bodyMobile , $ft-main);
          margin-top: calc(100vw * (16 / 375));
          margin-bottom: calc(100vw * (30 / 375));
          margin-left: calc(100vw * (53 / 375));
          &::before {
            left: calc(-100vw * (40 / 375));
            bottom: calc(-100vw * (3 / 375));
            width: calc(100vw * (26 / 375));
            height: calc(100vw * (20 / 375));
          }
        }
        &__home{
          @include typoSet($fw-regular, $fsz-footerMobile, $fsz-bodyMobile , $ft-main);
          border-radius: calc(100vw * (100 / 375));
          margin-bottom: calc(100vw * (12 / 375));
          width: calc(100vw * (123 / 375));
          height: calc(100vw * (38 / 375));
        }
        &__store{
          @include typoSet($fw-regular, $fsz-footerMobile, $fsz-bodyMobile , $ft-main);
          text-align: center;
          border-radius: calc(100vw * (100 / 375));
          margin-bottom: calc(100vw * (12 / 375));
          width: calc(100vw * (123 / 375));
          height: calc(100vw * (38 / 375));
        }
      }
      &__calc{
        padding-top: calc(100vw * (13 / 375));
        margin-bottom: calc(100vw * (36 / 375));
        @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-bodyMobile , $ft-main);
        &__subtotalCost{
          margin-bottom: calc(100vw * (14 / 375));
        }
        &__shipmentCost{
          margin-bottom: calc(100vw * (14 / 375));
        }
        &__discount{
          margin-bottom: calc(100vw * (14 / 375));
        }
        &__totalCost{
          @include typoSet($fw-medium, $fsz-subtitleMobile, $fsz-subtitleMobile, $ft-main);
        }
      }
      &__purchase{
        &__termsConditions{
          margin-bottom: calc(100vw * (17 / 375));
          margin-left: calc(100vw * (25 / 375));
          @include typoSet($fw-regular, $fsz-footerMobile, $fsz-bodyMobile , $ft-main);
          input{
            top: calc(100vw * (0 / 375));
            left: calc(-100vw * (25 / 375));
            width: calc(100vw * (15 / 375));
            height: calc(100vw * (15 / 375));
          }
          &__checkBox {
          border-radius: calc(100vw* (5 / 375));
          top: calc(100vw * (0 / 375));
          left: calc(-100vw * (25 / 375));
          width: calc(100vw * (15 / 375));
          height: calc(100vw * (15 / 375));
          }
          label{
            width: calc(100vw * (224 / 375));
          }
        }
        .buttonPurchase{
          border-radius: calc(100vw * (100 / 375));
          width: calc(100vw * (257 / 375));
          height: calc(100vw * (38 / 375));
          @include typoSet($fw-regular, $fsz-prices2Mobile, $fsz-prices1Mobile, $ft-main);
        }
        &__startPaymentButton{
          margin-bottom: calc(100vw * (20 / 375));
        }
      }
    }
  }
  .purchaseSummary__footer {
    @include flexContainerConfig(column, wrap, flex-start, flex-start);
    background-color: $c-neut7;
    height: calc(100vw * (200 / 375));
    &__companies{
      width: 100%;
      height: unset;
      margin-bottom: calc(100vw * (10 / 375));
      padding-bottom: calc(100vw * (8 / 375));
      @include flexContainerConfig(row, wrap, center, center);
      border-bottom: none;
      h4 {
        @include typoSet($fw-medium, $fsz-prices2Mobile, $fsz-prices1Mobile, $ft-main);
        width: 100%;
        text-align: center;
        margin-top: calc(100vw * (17 / 375)); 
        margin-bottom: calc(100vw * (17 / 375)); 
      }
      img {
        margin: 0 calc(100vw * (13 / 375));
      }
      img:nth-child(2){ // Visa
        width: calc(100vw * (40 / 375));
        height: calc(100vw * (15 / 375));
      }
      img:nth-child(3) { // American
        width: calc(100vw * (24 / 375));
        height: calc(100vw * (24 / 375));
      }
      img:nth-child(4) { // Diners
        width: calc(100vw * (55 / 375));
        height: calc(100vw * (15 / 375));
      }
      img:nth-child(5) { // Efecty
        width: calc(100vw * (53 / 375));
        height: calc(100vw * (20 / 375));
      }
      img:nth-child(6) { // Codensa
        width: calc(100vw * (40 / 375));
      }
      img:nth-child(7) { // Davivienda
        width: calc(100vw * (70 / 375));
      }
      img:nth-child(8) { // PSE
        width: calc(100vw * (45 / 375));
      }
      img:nth-child(9) { // Encrypt
        width: calc(100vw * (35 / 375));
        height: calc(100vw * (35 / 375));
      }
      img:nth-child(10) { // PCI
        margin-top: calc(100vw * (7 / 375));
        width: calc(100vw * (44 / 375));
        width: calc(100vw * (44 / 375));
      }
    }
    &__legalOps{
      width: 100%;
      margin-bottom: calc(100vw * (0 / 375));
      @include typoSet($fw-regular, $fsz-footerMobile, $fsz-prices1Mobile , $ft-main);
      &__copyRight{
        @include flexContainerConfig(row, wrap, space-around, center);
        width: 100%;
        span {
          display: none;
        }
        p:first-child {
          display: none;
        }
        p:nth-child(2) {
          display: block;
          margin-bottom: calc(100vw * (9 / 375));
          @include typoSet($fw-regular, $fsz-bodyMobile, $fsz-bodyMobile, $ft-main);
          text-align: center;
          width: 100%;
        }
        img:nth-child(5){
          width: calc(100vw * (81 / 375));
          height: calc(100vw * (8 / 375));
        }
        img:nth-child(8){
          width: calc(100vw * (48 / 375));
          height: calc(100vw * (17 / 375));
        }
        span {
          color: $c-neut3_2;
        }
      }
    }
  }
}
// *****************************************************************************************************
@keyframes heartBeat {
  0% {transform: scale(1);}
  50% {transform: scale(1.3);}
  100% {transform: scale(1);}
}