* {
  box-sizing: border-box;
  cursor: default;
  scrollbar-width: none;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
    // overflow-y: hidden;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
};
body {
  overflow-x: hidden;
  background-color: $c-sec2;
};
a {
  text-decoration: none;
  color: unset;
  &:visited {
    color: unset;
  };
};
.flexCtn {
  display: flex;
};
.displayNone {
  display: none;
}
.visibilityHidden {
  visibility: hidden;
}
// *********************************************************************************
// *********************************************************************************
// Botón Juan Valdez
.buttonJV {
  @include flexContainerConfig(row, nowrap, center, center);
  border-radius: calc(100vw * (100 / 1366)); // = 100 / 1366;
  width: calc(100vw * (180 / 1366)); // = 180px / 1336px;
  height: calc(100vw * (45 / 1366)); // = 45px / 1366px;
  color: $c-neut7;
  background-color: $c-sec1;
  cursor: pointer;
  @include typoSet($fw-medium, $fsz-prices2, $flh-prices1, $ft-main);
  cursor: pointer;
  &:hover {
    background-color: $c-main2;
  };
};
// Producto café
.coffee__product {
  @include flexContainerConfig(column, nowrap, flex-start, center);
  min-width: calc(100vw * (260 / 1366));
  height: auto;
  &__img {
    &:hover .coffee__product__img__overlay {
      display: flex;
      cursor: pointer;
    };
    width: 100%;
    position: relative;
    &__overlay {
      display: none;
      position: absolute;
      bottom: 0;
      @include flexContainerConfig(column, nowrap, flex-end, center);
      width: 100%;
      height: 100%;
      &__button {
        border-bottom-left-radius: calc(100vw * (20 / 1366));
        border-bottom-right-radius: calc(100vw * (20 / 1366));
        width: 100%;
        height: calc(100vw * ( 41 /1366));
        @include flexContainerConfig(row, nowrap, center, center);
        background-color: $c-neut3_1;
        cursor: pointer;
        p {
          @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
          text-align: center;
          color: $c-neut7;
          cursor: pointer;
        };
      };
    };
    img {
      width: 100%;
      border-radius: calc(100vw * ( 20 / 1366));
      background-color: $c-neut7;
    }
    &__fav {
      &:hover path {
        stroke: $c-main1;
      }
      width: calc(100vw * (24 / 1366));
      height: calc(100vw * (22 / 1366));
      position: absolute;
      top: calc(100vw * (27.02 / 1366));
      right: calc(100vw * (24.3 / 1366));
      cursor: pointer;
    };
    &__discountMark {
      position: absolute;
      top: calc(100vw * ( 4 / 1366));
      @include flexContainerConfig(row, nowrap, center, center);
      border-radius: calc(100vw * (13.5 / 1366));
      width: calc(100vw * (121 / 1366));
      height: calc(100vw * (27 / 1366));
      background-color: $c-main1;
      color: $c-neut7;
      p {
        @include typoSet($fw-regular, $fsz-prices2, $flh-prices1, $ft-main);
        &:last-child {
          display: none;
        }
      };
    };
  };
  &__name {
    padding-top: calc(100vw * (19 / 1366));
    @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
    color: $c-neut1;
    text-align: center;
  };
  &__category {
    padding-top: calc(100vw * (19 / 1366));
    @include typoSet($fw-medium, $fsz-prices1, $flh-prices1, $ft-main);
    color: $c-neut3;
    text-align: center;
  };
  &__price {
    @include flexContainerConfig(row, nowrap, center, center);
    padding-top: calc(100vw * (10 / 1366));
    width: 100%;
    &__before {
      margin-right: calc(100vw * (15 / 1366));
        @include typoSet($fw-regular, $fsz-body , $flh-prices2 , $ft-main);
        content: "$25.000";
        color: $c-neut4;
        text-decoration: line-through;
    }
    &__full {
      @include typoSet($fw-medium, $fsz-subtitle , $flh-subtitle, $ft-main);
      color: $c-neut1;
    };
  };
  &__addButton {
    margin-top: calc(100vw * (18 / 1366));
  };
};
// Titulos de virtrinas
.section__schowcase__title {
  @include typoSet($fw-medium, $fsz-title, $flh-title, $ft-main);
  text-align: center;
  height: fit-content;
  overflow-y: hidden;
}
// Botones de sliders
.slider_button {
  border: none;
  display: flex;
  @include flexContainerConfig(row, nowrap, center, center);
  position: absolute;
  width: calc(100vw * (38 / 1366));
  height: calc(100vw * (38 / 1366));
  border-radius: 50%;
  box-shadow: $product_box-hadow ;
  background-color: $c-neut5;
  svg {
    width: calc(100vw * (10 / 1366));
    height: calc(100vw * (16 / 1366));
  }
  &:nth-of-type(1) {
    left: calc(100vw * (55 / 1366));
  };
  &:nth-of-type(3) {
    right: calc(100vw * (55 / 1366));
  };
  &:hover {
    background-color: $c-main2;
    svg path {
      stroke: white;
    };
  };
};
// ******************************************************************************
// ******************************************************************************
// *************************MEDIA QUERIES****************************************
@media screen and (max-width: 768px) {
  .buttonJV {
    border-radius: calc(100vw * (100 / 375));
    width: calc(100vw * (180 / 375));
    height: calc(100vw * (45 / 375)); 
    @include typoSet($fw-medium, $fsz-prices2Mobile, normal, $ft-main);
    cursor: pointer;
  };
  .section__schowcase__title {
    @include typoSet($fw-medium, $fsz-titleMobile, normal, $ft-main);
    text-align: center;
    height: fit-content;
    overflow-y: hidden;
  }
  .coffee__product {
    min-width: calc(100vw * (170 / 375));
    &__img {
      &__overlay {
        display: flex;
        &__button {
          border-bottom-left-radius: calc(100vw * (20 / 375));
        border-bottom-right-radius: calc(100vw * (20 / 375));
          width: 100%;
          height: calc(100vw * (25 /375));
          p {
            @include typoSet($fw-medium, $fsz-prices1Mobile, normal, $ft-main);
          };
        };
      };
      img {
        border-radius: calc(100vw * (20 / 375));
        height: calc(100vw * (227 / 375));
      }
      &__fav {
        width: calc(100vw * (24 / 375));
        height: calc(100vw * (22 / 375));
        top: calc(100vw * (12 / 375));
        right: calc(100vw * (9 / 375));
      };
      &__discountMark {
        position: absolute;
        top: calc(100vw * (4 / 375));
        left: calc(100vw * (6 / 375));
        border-radius: calc(100vw * (13.5 / 375));
        width: calc(100vw * (50 / 375));
        height: calc(100vw * (18 / 375));
        p {
          @include typoSet($fw-regular, $fsz-prices2Mobile, $flh-prices1, $ft-main);
          &:first-child {
            display: none;
          }
          &:last-child {
            display: block;
          }
        };
      };
    };
    &__name {
      padding-top: calc(100vw * (2 / 375));
      @include typoSet($fw-medium, $fsz-prices1Mobile, normal, $ft-main);
    };
    &__category {
      padding-top: calc(100vw * (1 / 375));
      @include typoSet($fw-regular, $fsz-prices1Mobile, normal, $ft-main);
    };
    &__price {
      @include flexContainerConfig(column, nowrap, center, center);
      padding-top: calc(100vw * (10 / 375));
      &__before {
        @include typoSet($fw-regular, $fsz-bodyMobile, normal , $ft-main);
      }
      &__full {
        @include typoSet($fw-medium, $fsz-subtitleMobile, normal, $ft-main);
      };
    };
    &__addButton {
      margin-top: calc(100vw * (15 / 375));
      width: calc(100vw * (170 / 375));
      height: calc(100vw * (45 / 375));
    };
  };
  .slider_button {
    opacity: 0.5;
    width: calc(100vw * (38 / 375));
    height: calc(100vw * (38 / 375));
    border-radius: 50%;
    box-shadow: $product_box-hadow ;
    background-color: $c-neut5;
    svg {
      width: calc(100vw * (10 / 375));
      height: calc(100vw * (16 / 375));
    }
    &:nth-of-type(1) {
      left: calc(100vw * (10 / 375));
    };
    &:nth-of-type(3) {
      right: calc(100vw * (10 / 375));
    };
    &:hover {
      background-color: $c-main2;
      svg path {
        stroke: white;
      };
    };
  };
}